{% load extra_settings %}
<div class="container-fluid">
  <div class="row py-3 px-lg-5">
    <div class="col-lg-4">
      <a href="{% url 'home' %}" class="navbar-brand d-none d-lg-block">
        <h1 style="font-size: 1.4rem" class="m-0 display-5 text-capitalize font-italic">
          <span class="text-primary">Горизонт</span><br>Безопасности
        </h1>
      </a>
    </div>
    <div class="col-lg-8 text-center text-lg-right">
      <div class="d-inline-flex align-items-center">
        <div class="d-inline-flex flex-column text-center pr-3 border-right">
          <h6>Главный Офис</h6>
          <p class="m-0">{% get_setting 'ADDRESS' %}</p>
        </div>
        <div class="d-inline-flex flex-column text-center pl-3">
          <h6>Телефон</h6>
          <p class="m-0">{% get_setting 'PHONE' %}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="{% if request.path != '/' %} bg-secondary {% else %} nav-bar {% endif %} container-fluid p-0">
  <nav class=" navbar navbar-expand-lg bg-none navbar-dark py-2">
    <a href="/" class="navbar-brand d-block d-lg-none">
      <h1 style="font-size: 1.4rem" class="m-0 display-5 text-capitalize font-italic text-white">
        <span class="text-primary">Горизонт</span> Безопасности
      </h1>
    </a>
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarCollapse"
    >
      <div class="navbar-nav m-auto py-4">
        {% if request.path != '/' %}
        <a href="{% url 'home' %}" class="nav-item nav-link">Главная</a>
        {% endif %}
        <a href="{% url 'about' %}" class="nav-item nav-link">О нас</a>
        <a href="{% url 'services' %}" class="nav-item nav-link">Услуги</a>
        <a href="{% url 'order' %}" class="nav-item nav-link">Заказать</a>
        <a href="{% url 'reviews' %}" class="nav-item nav-link">Отзывы</a>
      </div>
    </div>
  </nav>
</div>
