{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<!-- Contact Start -->
<div class="container pt-5">
    <div class="d-flex flex-column text-center my-5">
        <h1 class="m-0">Ваше мнение очень важно для нас!</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 mb-5 text-center">
            Мы будем рады услышать ваше мнение! Пожалуйста, заполните форму ниже, указав свои впечатления, предложения или замечания. Ваш отзыв будет тщательно изучен нашей командой, и мы обязательно учтем все ваши пожелания.
        </div>
        <div class="col-12 col-md-6">
            <div class="contact-form bg-white">
                <div id="success"></div>
                <form name="sentMessage" method="POST">
                    {% csrf_token %}
                    <div class="control-group">
                        <input type="text" class="form-control" name="{{form.name.name}}" id="{{form.name.auto_id}}" placeholder="Имя" required="required" />
                        <p class="help-block text-danger">
                            {% for e in form.name.errors %}{{e}}{% endfor %}
                        </p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" name="{{form.job.name}}" id="{{form.job.auto_id}}" placeholder="Компания" />
                        <p class="help-block text-danger">
                            {% for e in form.job.errors %}{{e}}{% endfor %}
                        </p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" name="{{form.text.name}}" id="{{form.text.auto_id}}" placeholder="Текст отзыва" required="required" rows="6"></textarea>
                        <p class="help-block text-danger">
                            {% for e in form.text.errors %}{{e}}{% endfor %}
                        </p>
                    </div>
                    <div class="control-group">
                        <label for="{{form.privacy.auto_id}}">
                            <input type="checkbox" id="{{form.privacy.auto_id}}" name="{{form.privacy.name}}" required="required" />
                            Даю согласие на обработку персональных данных
                        </label>
                        <p class="help-block text-danger">
                            {% for e in form.privacy.errors %}{{e}}{% endfor %}
                        </p>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit" id="sendMessageButton">Отправить Отзыв</button>
                        <div class="mt-3" style="font-size: 13px;">
                            Нажимая на кнопку "Отправить Отзыв", я подтверждаю, что ознакомлен с <a target="_blank" href="{% url 'privacy' %}">Политикой обработки персональных данных.</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12  col-md-6 p-0">
            {% include "components/map.html" %}
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock %}